*{
  box-sizing: border-box; 
  text-align: center;
}

#search{
   text-align: left;
   border:solid 3px rgb(170, 170, 170);
   border-radius:5px;
   width:45vh;
   padding:10px 10px;
   font-family:Oswald,sans-serif;
}

.gallery{
   display:grid;
   gap: 20px 20px;
   grid-template-columns: repeat(4,1fr);
   grid-auto-columns: minmax(100px, auto);
   padding:20px 20px;
   width:100vh;
   margin: 0 auto;
}