
*{
  box-sizing: border-box; 
  text-align: center;
}


.searchbar{
   display:flex;
   justify-content: center;
  
}

#search{
   text-align: left;
   border:solid 3px rgb(170, 170, 170);
   border-radius:5px;
   padding:5px 5px;
   font-family:Oswald,sans-serif;
   width:30vw;
}

.gallery{
   display:grid;
   gap: 20px 20px;
   grid-template-columns: repeat(4,200px);
   padding:20px 20px;
   justify-content: center;
   align-content: center;
}